<div class="banner-list" style="background-image: linear-gradient(rgba(249, 203, 156, 0.3),rgba(246, 176, 0, 0.5)),
  url(https://tse4.mm.bing.net/th?id=OIP.ViJx0s-dMGRegNzSM64d3QHaEL&pid=Api&P=0&w=302&h=170);">
  <div class="container py-5">
    <div class="row">
        <strong>Liste de mes films</strong>
      <div class="col-12 col-md-6 offset-lg-3">
        <%# <%= class="banner" %>
        <%= link_to "Create a movie list", new_list_path, class: "btn btn-primary" %>
        <% @list.each do |list| %>

        <h2><%=link_to "#{list.name}", list_path(list)  %></h2>
         <%# <%= image_tag @list.image_url, alt: "photo movies" %
        <%# https://tse1.mm.bing.net/th?id=OIP.IFkFNaoU-FZjEb7QaglNygHaFP&pid=Api&P=0&w=235&h=166 %>
        <%end%>
      </div>
    </div>
  </div>
</div>
